:root {
  --primary-color: #3a7563;
  --secondary-color: #f0ece2;
  --third-color: #967356;
  --first-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}

.navbar {
  background: var(--secondary-color);
}

.navbar-brand {
  position: relative;
  margin-left: 50px;
  font-size: 25px;
}

nav {
  padding: 20px 0;
}

nav li.active a {
  color: black;
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  line-height: 42px;
  margin-left: 15px;
}

.intro {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.intro h1 {
  font-family: var(--first-font-family);
  font-weight: bold;
  font-size: 50px;
}

.intro h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 35px;
}

.btn-branding {
  background: var(--primary-color);
  position: relative;
  margin-top: 5%;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 25px;
  padding: 18px 25px;
}

.feature-project {
  padding: 2%;
}

.project h1 {
  text-align: center;
}

.btn-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 15px;
  line-height: 25px;
  padding: 12px 25px;
}

.btn-outline-project {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 15px;
  line-height: 25px;
  padding: 12px 25px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--third-color);
}

.card-img-top {
  height: 400px;
}

.about-me {
  position: relative;
  margin-top: 70px;
}

.about-me h1 {
  font-family: var(--first-font-family);
  font-weight: bold;
  font-size: 50px;
}

.about-me h2 {
  font-size: 25px;
}

.about-img {
  position: relative;
  margin-left: 200px;
}

.work-intro {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.work-intro h1 {
  text-align: center;
  font-family: var(--first-font-family);
  font-size: 50px;
  font-weight: bold;
}

.contact-container {
  text-align: center;
}

.contact-intro {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-intro h1 {
  text-align: center;
  font-family: var(--first-font-family);
  font-size: 50px;
  font-weight: bold;
}

.contact-intro p {
  font-size: 20px;
}

.contact-intro img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 300px;
}

.contact a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
}

.contact i {
  font-size: 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer h4 {
  font-size: 40px;
  font-family: var(--first-font-family);
  font-weight: bold;
}

footer .email-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: var(--third-color);
}

footer .social-links a {
  margin: 0 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.source-link {
  color: var(--third-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
